//
@import "partials/_variables";
@import "partials/_general";

// HEADER

header {
    .header-top {
        background-color: $blue;
        color: #ffffff;
        text-align: end;

        span {
            font-size: .8rem;
            padding: .4rem;
        }
    }

    .header {
        display: flex;
        flex-direction: row;
        height: 80px;
        justify-content: space-between;
      
        &__logo {
          img {
            width: 80px;
            padding: .3rem 0;
          }
        }
      
        &__menu {
          display: flex;
          align-self: center;
      
          li {
            width: calc(100% / 6);
            margin: 0.5rem;
            padding: 0.5rem;
            color: $black;
            line-height: 50px;
            font-size: .8rem;
      
            &:hover {
              color: $blue;
              border-bottom: 5px solid $blue;
              cursor: pointer;
            }

            .search {

                &:hover {
                    border-bottom: 5px solid $blue;
                    cursor: pointer;
                }
            }
          }
        }
    }
}

// MAIN

// COMIC SECTION

.comics {
    background-color: #1c1c1c;

    .jumbotron {
        height: 250px;
        background-image: url(/img/jumbotron.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .blue-btn {
        background-color: $blue;
        color: white;
    }

    .large-btn {
        padding: 1rem 2rem;
        font-weight: 600;
        margin-left: 10.5%;
    }


    .load-btn {
        padding: 1rem 2rem;
        margin: 4rem;
    }
  

    &__list {
    display: flex;
    flex-wrap: wrap;

    .content {
        width: calc(100% / 6);
      
        .product {
          padding: 1rem 0.5rem;
          position: relative;
          width: 100%;
      
          h4 {
            font-size: 1rem;
            position: absolute;
            color: white;
            text-transform: uppercase;
            position: absolute;
            top: 65%;
            background-color: #1c1c1c;
            width: calc(100% - 1rem);
            height: calc(35% - 1rem);
          }
        }
        
      }
  }
}