* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 80%;
  margin: auto;
}

header .header-top {
  background-color: #0282f9;
  color: #ffffff;
  text-align: end;
}

header .header-top span {
  font-size: 0.8rem;
  padding: 0.4rem;
}

header .header {
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: space-between;
}

header .header__logo img {
  width: 80px;
  padding: 0.3rem 0;
}

header .header__menu {
  display: flex;
  align-self: center;
}

header .header__menu li {
  width: 16.6666666667%;
  margin: 0.5rem;
  padding: 0.5rem;
  color: #000000;
  line-height: 50px;
  font-size: 0.8rem;
}

header .header__menu li:hover {
  color: #0282f9;
  border-bottom: 5px solid #0282f9;
  cursor: pointer;
}

header .header__menu li .search:hover {
  border-bottom: 5px solid #0282f9;
  cursor: pointer;
}

.comics {
  background-color: #1c1c1c;
}

.comics .jumbotron {
  height: 250px;
  background-image: url(/img/jumbotron.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comics .blue-btn {
  background-color: #0282f9;
  color: white;
}

.comics .large-btn {
  padding: 1rem 2rem;
  font-weight: 600;
  margin-left: 10.5%;
}

.comics .load-btn {
  padding: 1rem 2rem;
  margin: 4rem;
}

.comics__list {
  display: flex;
  flex-wrap: wrap;
}

.comics__list .content {
  width: 16.6666666667%;
}

.comics__list .content .product {
  padding: 1rem 0.5rem;
  position: relative;
  width: 100%;
}

.comics__list .content .product h4 {
  font-size: 1rem;
  position: absolute;
  color: white;
  text-transform: uppercase;
  position: absolute;
  top: 65%;
  background-color: #1c1c1c;
  width: calc(100% - 1rem);
  height: calc(35% - 1rem);
}

